@font-face {
  font-family: "CustomFont";
  src: url('./font.ttf') format("truetype");
  font-display: swap;
}

:root {
  --font-main: system-ui, -apple-system, Arial, sans-serif;
  --font-sub: "CustomFont", sans-serif;
  --font-ohno: 'Comic Sans MS', 'Comic Sans', cursive;

  --color-white: #fff;

  --color-bg: #111;
  --color-panel: #222;
  --color-muted: #888;
  --color-accent: #0b7;
  --color-msg-bg: #0b280f;
  --color-own: #143d2a;

  --color-bg-blue: #0f1724;
  --color-panel-blue: #0b1220;
  --color-muted-blue: #9aa7bd;
  --color-accent-blue: #60a5fa;
  --color-msg-bg-blue: #0b1228;
  --color-own-blue: #14223d;

  --color-bg-red: #240f0f;
  --color-panel-red: #200b0b;
  --color-muted-red: #bd9a9a;
  --color-accent-red: #fa6060;
  --color-msg-bg-red: #280b0b;
  --color-own-red: #3d1414;

  --color-bg-img: url('bg-main1.jpeg');
}

:root.blue {
  --color-bg: var(--color-bg-blue);
  --color-panel: var(--color-panel-blue);
  --color-muted: var(--color-muted-blue);
  --color-accent: var(--color-accent-blue);
  --color-msg-bg: var(--color-msg-bg-blue);
  --color-own: var(--color-own-blue);
}

:root.red {
  --color-bg: var(--color-bg-red);
  --color-panel: var(--color-panel-red);
  --color-muted: var(--color-muted-red);
  --color-accent: var(--color-accent-red);
  --color-msg-bg: var(--color-msg-bg-red);
  --color-own: var(--color-own-red);
}

:root.yeah {
  --color-bg: var(--color-bg-img);
  --color-accent: rgb(37, 39, 45);
  --font-main: var(--font-ohno);
}

html,
body {
  background-color: var(--color-bg);
  background-image: var(--color-bg);
  color: var(--color-white);
  font-family: var(--font-main);
}

button {
  background: var(--color-accent);
  color: #000;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 18px;
  font-size: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
}

button.secondary {
  background: #666;
  color: #fff;
  box-shadow: none;
}

button:hover {
  filter: brightness(1.15);
  background: var(--color-accent);
}

button.active {
  background: rgba(255, 255, 255, 0.06);
  border-color: var(--color-white);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
}

input,
select {
  background: var(--color-panel);
  color: var(--color-white);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: 10px;
  font-size: 15px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s;
}

input:focus,
select:focus {
  border-color: var(--color-accent);
}

/* Canvas */
canvas {
  background: var(--color-panel);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
}

/* Muted text */
.small {
  color: var(--color-muted);
  font-size: 13px;
  letter-spacing: 0.2px;
}