/* ==========================
   CONTAINER STYLES
========================== */
main#settingsContainer {
    max-width: 800px;
    max-height: 80vh;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow-y: auto;
}

/* ==========================
   HEADINGS
========================== */
h1,
h2 {
    text-align: center;
    margin-bottom: 15px;
}

/* ==========================
   INPUTS
========================== */
input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
}

/* ==========================
   LOCAL STORAGE TABLE
========================== */
/* Container for table scroll */
#localStorageDisplay {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 10px;
    border-radius: 10px;
}

/* Table styling */
#localStorageDisplay table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* Main buttons container */
#storageControls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

/* ==========================
   LABELS
========================== */
label {
    display: block;
    margin-bottom: 5px;
}