/* home.css */
#passwordWallContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#passwordLogin {
  margin-top: 10px;
  margin-bottom: 10px;
}

#loginButton {
  margin-bottom: 10px;
}

#titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

#titleText {
  font-size: 3em;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin: 10px auto 0 auto;
}

#timeText {
  font-size: 1.2em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.note {
  position: relative;
  cursor: pointer;
}

.tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  min-width: 220px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.note:hover .tooltip,
.note .tooltip:hover {
  display: flex;
}

.music-player {
  width: 600px;
  margin: auto;
  background: #222;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
}

.player-top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.player-top img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

#waveCanvas {
  flex: 1;
  border-radius: 10px;
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

#progress {
  flex: 1;
}


